html {
    /*Background scaling (will probably have to play around with*/
    position: relative;
    background-image: url("http://www.spriteland.com/sprites/downloads/green-forest-and-hills-background_PNG.png");
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

@font-face {
    font-family: ringbearer;
    src: url("RINGM_");
}

@font-face {
    font-family: diagoth;
    src: url("diagoth");
}

h1 {
    position: fixed;
    top: 0px;
    left: 29%;
    text-align: center;
    font-family: ringbearer;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0 0 3px #FF0000;
}

h2 {
    position: fixed;
    text-align: center;
    bottom: 120px;
    left: 40%;
    line-height: 100%;
    font-family: ringbearer;
    font-size: 32px;
}

ul {
    position: fixed;
    text-align: center;
    bottom: 0px;
    left: 40%;
    line-height: 100%;
    font-family: ringbearer;
    font-size: 28px;
    font-weight: normal;
}

#gameCanvas {
    position: static;
    display: none;
}

#startButton {
    height: 100px;
    position: fixed;
    left: 37%;
    top: 40%;
    color: black;
    z-index: -1;
    font-family: ringbearer;
    font-size: 80px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    border: solid 1px #f39c12;
    background-color: gold;
    text-align: center;
    padding: 16px 18px 14px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 6px 0px #d35400;
    -moz-box-shadow: 0px 6px 0px #d35400;
    box-shadow: 0px 6px 0px #d35400;
}

    #startButton:active {
        -webkit-box-shadow: 0px 2px 0px #d35400;
        -moz-box-shadow: 0px 2px 0px #d35400;
        box-shadow: 0px 2px 0px #d35400;
        position: fixed;
        left: 37%;
        top: 40%;
        text-align: center;
    }

#knight,
#wizard,
#elf {
    width: 150px;
    height: 100px;
    display: inline-block;
    color: black;
    font-family: ringbearer;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    border: solid 1px #f39c12;
    background-color: gold;
    text-align: center;
    padding: 16px 18px 14px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 6px 0px #d35400;
    -moz-box-shadow: 0px 6px 0px #d35400;
    box-shadow: 0px 6px 0px #d35400;
}

    #knight:active,
    #wizard:active,
    #elf:active {
        -webkit-box-shadow: 0px 2px 0px #d35400;
        -moz-box-shadow: 0px 2px 0px #d35400;
        box-shadow: 0px 2px 0px #d35400;
        position: relative;
        top: 4px;
    }

.popUpWindow {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 15%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popUpWindow-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
